@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');

body {
    font-size: 16px;
    font-family: 'Akaya Telivigala', sans-serif;
    color: #4B0906;
    background-color: #DB9D4E;
}

#header-nav {
    background-color: #c98715;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #E5C79C;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #7d1913;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color: #DB9D4E;
}

#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #FFCC70;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #A1460F;
}